@import "../../styles/variables.css";

.overlay {
    inset: 0;
    background-color: var(--color-gray-700);
    opacity: 0.5;
    animation: blink 1.5s ease-in-out infinite;
    z-index: 100;
    pointer-events: none;
}

@keyframes blink {
    0%,
    100% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.2;
    }
}
