@import "../../styles/variables.css";

.container {
    display: flex;
    flex-direction: column;
}

.spinner {
    width: 3rem;
    height: 3rem;
    align-self: center;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.item {
    border-radius: 1.5rem;
    overflow: hidden;
}

.loadMoreWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
