@import "../../styles/variables.css";

.form {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-black);
    margin: 0;
}

.subtitle {
    font-size: 0.875rem;
    color: var(--color-gray-700);
    margin-bottom: 0.5rem;
}

.textarea {
    width: 100%;
    background-color: var(--color-gray-50);
    border: none;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    color: var(--color-black);
    resize: none;
}

.textarea {
    min-height: 100px;
}

.button {
    align-self: center;
}
